.idea
.vscode
.git
.github
nginx
node_modules
coverage
*.log*
*.tmp
*.swp
.DS_Store
Thumbs.db

.dockerignore
.env
.env.example
.golangci.yml
.gitignore

coverage.txt

docker-compose.yml

LICENSE
Makefile
README*
